fastapi
uvicorn[standard]
langchain
langchain-community
langchain-core
python-dotenv
pydantic
sentence-transformers
faiss-cpu
langchain-groq
langchain-google-genai
requests
py-readability-metrics
numpy
pandas
bs4
unstructured
libmagic
pdf2image
pdfminer
pdfminer.six
pytesseract
pypdf
docx2txt
tiktoken
langchainhub
weaviate-client
langchain-weaviate
langchain-openai
openai
tiktoken
fastembed
qdrant_client
markdown
