:root {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #d1d5db;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
